# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Streamlit cache
.streamlit/

# IDE settings (if using)
.vscode/
.idea/

# Compiled files
*.exe
*.dll
*.so
*.dylib

# Temporary files
*.tmp
*.swp

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment and virtualenv files
env/
venv/

# macOS related files
.DS_Store